<div class="nested-fields">

  	<div class="field">

  		<td> 
  			<%= form.collection_select(:purchase_id, @product_options_for_select, :id, :referencia) %> 
		</td>

    	<td>
    		<%= form.text_field :quantidade, class: "form-control", placeholder: "* Produto ", "aria-describedby": true, required: true, disabled: true %>
    		
    	</td>
    
    	<td>
    		<%= form.number_field :quantidade, class: "number_field", :value => 1 %>
    	</td>

    	<td>
    		R$ 300,00
    	</td>

    	<td> 
    		<%#= link_to_remove_association 'remover', form %>	
    	</td>

    </div>

</div>